* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html,body {
    background-color: rgb(40, 41, 53);
    color: whitesmoke;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 4fr;
}
/* Sidebar */
.sidebar {
    grid-row: 1/ 4;
    background-color: rgb(19, 19, 25);
    height: 100vh;
}
.dash {
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 20px;
}
.dash::before {
    content: url('images/view-dashboard.svg');
    width: 25px;
    height: 25px;
    background-color: rgb(255 85 85);
}
.navi{ 
    display: grid;
    grid-template-rows: repeat(9, 50px);
    place-items: center;
    list-style-type: none;
    gap: 10px;
}
.navi button {
    width: 110px;
    height: 35px;
    border: none;
    color: white;
    background-color:  rgb(19, 19, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
 .navi button:hover {
    background-color: rgba(34, 34, 45, 0.181);
    border-radius: 5px;
 }
.navi button:active {
    background-color: rgba(240, 248, 255, 0.055);
}
 .home::before {
    content: url('images/home.svg');
    width: 20px;
    height: 20px;
 }
 .profile::before {
    content: url('images/account.svg');
    width: 20px;
    height: 20px;
 }
 .messages::before {
    content: url('images/message.svg');
    width: 15px;
    height: 15px;
 }
.history::before {
    content: url('images/history.svg');
    width: 20px;
    height: 20px;
}
.tasks::before {
    content: url('images/text-box-multiple.svg');
    width: 15px;
    height: 15px;
}
.communities::before {
    content: url('images/account-group.svg');
    width: 20px;
    height: 20px;
}
.settings::before{
    content: url('images/cog.svg');
    width: 20px;
    height: 20px;
}
.support::before{
    content: url('images/help.svg');
    width: 20px;
    height: 20px;
}
.privacy::before{
    content: url('images/shield-check.svg');
    width: 20px;
    height: 20px;
}
/* Header */
.header {
    grid-row: 1/2;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(50, 52, 66);
}
.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.magnify {
    margin-left: 20px;
    width: 29px;
    height: 29px;
    border-style: hidden;
}
input[type=text] {
    padding: 5px;
    width: 20vw;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.644);
    background-color: rgb(50, 52, 66);
    transition: width 0.4s ease-in-out;
    color: white
}
input[type=text]:focus {
    width: 43vw;
    outline: 1px solid rgba(19, 19, 25, 0);
}

.profiles {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    gap: 20px;
    align-items: center;
}
.profile-name{
    font-size: 17px;
    font-weight: 800;
}
.remind {
    background: url(images/bell-alert-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: hidden;
}
.remind:hover{
    background-color: rgba(0, 0, 0, 0.164);
}
.remind:active{
    background-color: rgba(240, 248, 255, 0.055)
}
.icon1 { 
    background: url("images/124217306.png") no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: hidden;
}
.icon1:hover {
    opacity: 0.5;
}
.icon1:active {
    opacity: 0.7;
}
.icon2 {
    background: url("images/124217306.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: hidden;
}
.icon2:hover {
    opacity: 0.5;
}
.icon2:active {
    opacity: 0.7;
}
.profile-introduction {
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: -30px;
    align-items: center;
    justify-content: flex-start;
}
.introprofile1 {
    font-size: 15px;
}
.introprofile2 {
    font-size: 20px;
    font-weight: 800;
}
.profile-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 50px;
    align-items: center;
}
.profile-buttons button {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid rgb(19, 19, 25);
    background-color: rgb(19, 19, 25);
    color: white;
}
.profile-buttons button:hover {
    background-color: rgba(19, 19, 25, 0.167);
    border: none;
}
.profile-buttons button:active {
    border: 2px solid rgb(19, 19, 25);
    background-color: rgb(19, 19, 25);
}
.content-container {
    grid-column: 2/span 3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr ;
    gap: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    height: 77vh;
}
.projectannounce {
    grid-column: 1 / span 2;
    font-weight: 800;
}
.cannounce {
    font-weight: 800;
}
.card1 {
    grid-template-columns: 1 /2;
    grid-row: 2/3;
}
.card2 {
    grid-template-columns: 2/3;
    grid-row: 2/3;
}
.card3 {
    grid-template-columns: 1/2;
    grid-row: 3/4;
}
.card4 {
    grid-template-columns: 2/3;
    grid-row: 3/4;
}
.card5{
    grid-template-columns: 1/2;
    grid-row: 4/5;
}
.card6{
    grid-template-columns: 2/3;
    grid-row: 4/5;
}

div[class^="card"] {
    border: 2px solid black;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
    background: rgb(50, 52, 66);
    transition: all 0.4s ease-out;
    position: relative;
    box-shadow: inset 5px 0.01px rgb(247, 146, 38);
}
div[class^="card"]:hover {
    background-color: rgb(59, 61, 78);
}
.cardtitle {
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 10px;
}
.carddesc {
    font-size: 15px;
}
.cbuttons {
    align-self: flex-end;
    margin-top: 5px;
    position: absolute;
    right: 10px;
    bottom: 1px;
    
}
.cbuttons button {
    height: 30px;
    width: 30px;
}
.cbutton1 {
    background: url(images/share-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: hidden;
}
.cbutton1:hover {
    background: url(images/share-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.5;
}
.cbutton1:active {
    background: url(images/share-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: .7;
}
.cbutton2 {
    background: url(images/trash-can-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: hidden;
}
.cbutton2:hover {
    background: url(images/trash-can-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.5;
}
.cbutton2:active {
    background: url(images/trash-can-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: .7;
}
.cbutton3 {
    background: url(images/bookmark-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: hidden;
}
.cbutton3:hover {
    background: url(images/bookmark-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.5;
}
.cbutton3:active {
    background: url(images/bookmark-outline.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.7;
}
.content-announcements {
    grid-row: 2/3;
    grid-column: 3/4;
    display:flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    background: rgb(50, 52, 66);
    font-size: 14px;
}
.announce-link {
    text-decoration: none;
    color: #6272a4;
    margin-left: 10px;
}
.announce-link:hover{
    text-decoration: underline;
}
.announce-link:active{
    text-decoration: none;
}
.announce-desc {
    font-size: 12px;
    margin-left: 15px;
}
.announce-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.content-announcements div {
    padding: 10px;
}
.trend {
    grid-row: 3/4;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 800;
}
.content-trending {
    grid-row: 3/4;
    grid-column: 3/4;
    display:flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    background: rgb(50, 52, 66);
    font-size: 14px;
}

.placeholderpic {
    width: 30px;
    height: 30px;
}

.placeholderflex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}