* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    background-color: rgb(40, 41, 53);
    color: whitesmoke;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 7fr;
    min-height: 100vh;
    overflow: hidden;
}
.sidebar {
    grid-row: 1/ span 3;
    height: 100vh;
    background-color: rgb(19, 19, 25);
}
.dash {
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 20px;
}
.dash::before {
    content: url('images/view-dashboard.svg');
    width: 25px;
    height: 25px;
    background-color: rgb(255 85 85);
}
.navi{ 
    display: grid;
    grid-template-rows: repeat(9, 50px);
    place-items: center;
    list-style-type: none;
    gap: 10px;
}
.navi button {
    width: 110px;
    height: 35px;
    border: none;
    color: white;
    background-color:  rgb(19, 19, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
 .navi button:hover {
    background-color: rgba(34, 34, 45, 0.181);
    border-radius: 5px;
 }
.navi button:active {
    background-color: rgba(240, 248, 255, 0.055);
}
 .home::before {
    content: url('images/home.svg');
    width: 20px;
    height: 20px;
 }
 .profile::before {
    content: url('images/account.svg');
    width: 20px;
    height: 20px;
 }
 .messages::before {
    content: url('images/message.svg');
    width: 15px;
    height: 15px;
 }
.history::before {
    content: url('images/history.svg');
    width: 20px;
    height: 20px;
}
.tasks::before {
    content: url('images/text-box-multiple.svg');
    width: 15px;
    height: 15px;
}
.communities::before {
    content: url('images/account-group.svg');
    width: 20px;
    height: 20px;
}
.settings::before{
    content: url('images/cog.svg');
    width: 20px;
    height: 20px;
}
.support::before{
    content: url('images/help.svg');
    width: 20px;
    height: 20px;
}
.privacy::before{
    content: url('images/shield-check.svg');
    width: 20px;
    height: 20px;
}
.content-container {
    grid-column: 2;
    grid-row: 2;
}

.header {
    grid-row: 1/2;
    grid-column: 2/4;
}

.content-announcements,
.content-trending {
    grid-column: 3/4;
}